<div class="container-sm">
  <div class="row">
    <div class="col">
      <br>
      <p class="fs-3 text-start">Firebase Realtime Database</p>
      <p>Store and sync data with our NoSQL cloud database. Data is synced across all clients in realtime, and remains available when your app goes offline.</p>
      <p>The <a href="https://firebase.google.com/docs/database" class="link-dark">Firebase Realtime Database</a> is a cloud-hosted database. Data is stored as JSON and synchronized in realtime to every connected client. When you build cross-platform apps with our Apple platforms, Android, and JavaScript SDKs, all of your clients share one Realtime Database instance and automatically receive updates with the newest data</p>
      <button type="button" 
        class="btn btn-dark" 
        data-bs-toggle="tooltip" 
        data-bs-placement="top" 
        title="Populate with solar system planets"
        (click)="onPopulateDatabase()">
        Populate Database
      </button>
      <button 
        type="button" 
        class="btn btn-dark"
        data-bs-toggle="tooltip" 
        data-bs-placement="top" 
        title="Add mock data to planet list"
        (click)="onAddPlanet()">
        Add Planet
      </button>
      <br>
      <br>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Position</th>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Velocity</th>
            <th scope="col">Distance</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let planet of loadedPlanets">
            <td class="fw-bold">{{ planet.position }}</td>
            <td>{{ planet.name }}</td>
            <td class="text-center">
              <img class="img-fluid" src="{{ planet.image }}" />
            </td>
            <td>{{ planet.velocity }}</td>
            <td>{{ planet.distance }}</td>
            <td>{{ planet.description }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>